<div class="chatbox-container">
  <div class="messages-container" #chatboxMessages>
    <div *ngFor="let message of messages" class="message">
      <span class="client-type">{{message.clientType | titlecase}}:</span>
      {{message.message}} <br />
      <span *ngIf="message.translatedText" class="client-type">{{message.clientType | titlecase}} (translation):
      </span>{{message.translatedText}}
    </div>
  </div>
  <div class="input-container">
    <input type="text" [(ngModel)]="chatInput" (keydown.enter)="sendMessage()">
  </div>
</div>