<div class="main-container">
  <div class="client-type-selection-container" *ngIf="currentState === 'selection'">
    <button mat-raised-button color="primary" (click)="connectAsController()">Connect as Controller</button>
    <button mat-raised-button color="primary" (click)="connectAsBot()">Connect as Bot</button>
  </div>
  <div *ngIf="currentState === 'controller'" class="view-container controller-view">
    <ng-container *ngTemplateOutlet="back"></ng-container>
    <app-controller></app-controller>
  </div>
  <div *ngIf="currentState === 'bot'" class="view-container bot-view">
    <ng-container *ngTemplateOutlet="back"></ng-container>
    <app-controller></app-controller>
  </div>
</div>

<ng-template #back>
  <div class="top-bar">
    <div class="container left-container">
      <button mat-raised-button color="primary" (click)="returnToSelection()">Return to selection</button>
    </div>
    <div class="container middle-container">
      <div class="client-type">{{ webSocketService.clientType | titlecase}}</div>
    </div>
    <div class="container right-container"></div>
  </div>
</ng-template>