.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.client-type-selection-container {
  display: flex;
  column-gap: 1rem;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.view-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 650px;
}

.controller-view {
  display: flex;
  column-gap: 1rem;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.bot-view {
  display: flex;
  column-gap: 1rem;
  margin: auto;
  justify-content: center;
  align-items: center;
}
